.field {
  width: 100%;
  display: flex;
}

.field > div {
  margin: 30px;
}

.life {
  width: 100%;
  border: 1px solid #ddd;
  height: 20px;
  margin-bottom: 20px;
}

.life__value {
  width: 100%;
  transition: 1s;
  height: 20px;
  background: limegreen;
}

.life__value--danger {
  background: red;
}

.photo img {
  width: 100px;
}

.skills button {
  display: block;
}